:80 {
    encode gzip

    @api path /api/*
    handle @api {
        root * /var/www/html/public
        rewrite * /index.php
        php_fastcgi hrm-be:9000
    }

    handle {
        reverse_proxy hrm-fe:80
    }
}
