MYSQL_ROOT_PASSWORD=change_root_password
MYSQL_DATABASE=hrm_db
MYSQL_USER=hrm_user
MYSQL_PASSWORD=change_user_password
TZ=Asia/Ho_Chi_Minh

APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=Asia/Ho_Chi_Minh
APP_URL=http://localhost

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=hrm_db
DB_USERNAME=hrm_user
DB_PASSWORD=change_user_password

CORS_ALLOW_ORIGIN=*
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Content-Type,Authorization,X-Requested-With
