(hrm_routes) {
    @compress {
        not path /api/*
    }
    encode @compress gzip

    route {
        @api path /api/*
        handle @api {
            reverse_proxy hrm-be:8080
        }

        handle_path /hrm-api/* {
            reverse_proxy 100.95.45.103:8000
        }

        handle {
            reverse_proxy hrm-fe:5173
        }
    }
}

http://157.66.46.75 {
    redir https://anhsinhvienfpoly.click{uri} 308
}

:80 {
    import hrm_routes
}

anhsinhvienfpoly.click {
    import hrm_routes
}

www.anhsinhvienfpoly.click {
    redir https://anhsinhvienfpoly.click{uri}
}
